<h1>Users</h1>

<%= render partial: 'user', locals: { user: @users }, collection: @users %>
<%#= render @users %>

<%#= @users.inspect %>
<%# @users.each do |user| %>
<!-- 	<div>
		<%#= user.name %>
		<%#= user.email %><br>
	</div> -->

<%# end %>

