<h1>Welcome to Simpl!fy Todo</h1>
<p>To use this simple todo app you need to be signed in and confirmed.</p>
<p>You can create as many todo items as you want.</p>
<p>Only the signed user will have view and access to your account.</p>
<p>You will have 7 days to finish your todo.</p>
<p>Once you click complete it will delete your todo.</p>
<p>If the todo item is more than 7 days it will automatically be deleted!</p>
