<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-3">Blocitoff Extra Credit</h1>
    <p class="lead">This is a self destructing todo list application.</p>
  </div>
</div>
